Repository bruno-frascino/piggy-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,css}": ["prettier --write"],
  "*.json": ["prettier --write"]
}

record hosted CI verification
  docs/context-maintenance-follow-ups.md
  docs/specification-system-manual.md
  docs/specification-system-manual.pdf
Due: prettier --write

fix close event contract and retire context debt
  .github/instructions/context-maintenance.instructions.md
  context/README.md
  context/api-surface.md
  context/manifest.json
  context/openapi.json
  context/symbol-index.json
  docs/context-maintenance-follow-ups.md
  docs/specification-system-manual.md
  docs/specification-system-manual.pdf
  src/controllers/accounts.test.ts
  src/controllers/portfolio.test.ts
  src/controllers/positions.test.ts
  src/controllers/positions.ts
  src/controllers/stocks.test.ts
  src/controllers/tax-reports.test.ts
  src/controllers/users.test.ts
  src/lib/swagger.ts
Due: eslint --fix, prettier --write

feat(statistics): add analytics API endpoints and engine
  context/api-surface.md
  context/manifest.json
  context/module-graph.json
  context/module-graph.md
  context/openapi.json
  context/symbol-index.json
  src/controllers/index.ts
  src/controllers/statistics.test.ts
  src/controllers/statistics.ts
  src/lib/statistics-engine.ts
  src/lib/swagger.ts
Due: eslint --fix, prettier --write

chore: mock and statistics adjust
  .github/skills/add-api-endpoint-e2e/SKILL.md
Due: prettier --write

fix: statistics currency
  context/api-surface.md
  context/manifest.json
  context/openapi.json
  context/symbol-index.json
  src/controllers/statistics.test.ts
  src/controllers/statistics.ts
  src/lib/statistics-engine.ts
Due: eslint --fix, prettier --write

feat: Screener
  .env.example
  context/api-surface.md
  context/data-model.md
  context/manifest.json
  context/module-graph.json
  context/module-graph.md
  context/openapi.json
  context/symbol-index.json
  eslint.config.js
  prisma/migrations/20260814234043_add_watchlists_screener/migration.sql
  prisma/schema.prisma
  src/controllers/index.ts
  src/controllers/screener.test.ts
  src/controllers/screener.ts
  src/controllers/watchlists.test.ts
  src/controllers/watchlists.ts
  src/lib/fmp-client.test.ts
  src/lib/fmp-client.ts
  src/lib/position-service.test.ts
  src/lib/position-service.ts
  src/lib/swagger.ts
Due: eslint --fix, prettier --write

chore: regenerate and stage context/ in pre-commit
  .husky/pre-commit
Due: none

fix: Optional buy comment
  context/api-surface.md
  context/manifest.json
  context/openapi.json
  src/controllers/positions.test.ts
  src/controllers/positions.ts
Due: eslint --fix, prettier --write

feat: fmp api
  context/api-surface.md
  context/manifest.json
  context/module-graph.json
  context/openapi.json
  context/symbol-index.json
  src/controllers/stocks.test.ts
  src/controllers/stocks.ts
  src/lib/cgt-engine.ts
  src/lib/fmp-client.test.ts
  src/lib/fmp-client.ts
  src/lib/fx-rates.test.ts
  src/lib/fx-rates.ts
  src/lib/historical-drawdown.ts
Due: eslint --fix, prettier --write

fix: history fetch adjustment
  context/api-surface.md
  context/manifest.json
  context/openapi.json
  src/controllers/portfolio.test.ts
  src/controllers/portfolio.ts
  src/controllers/positions.test.ts
  src/controllers/positions.ts
Due: eslint --fix, prettier --write

fix: history and tax adjustments
  context/api-surface.md
  context/manifest.json
  context/openapi.json
  src/controllers/positions.test.ts
  src/controllers/positions.ts
  src/controllers/tax-reports.test.ts
  src/controllers/tax-reports.ts
Due: eslint --fix, prettier --write

feat: Resend email infra
  .env.example
  context/api-surface.md
  context/manifest.json
  context/module-graph.json
  context/module-graph.md
  context/openapi.json
  context/symbol-index.json
  context/unused.json
  docs/adr/0009-transactional-email-provider.md
  package.json
  src/controllers/auth.test.ts
  src/controllers/auth.ts
  src/index.ts
  src/lib/mailer.test.ts
  src/lib/mailer.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: Account deletion
  .github/instructions/tax.instructions.md
  AGENTS.md
  README.md
  context/api-surface.md
  context/data-model.md
  context/manifest.json
  context/module-graph.json
  context/module-graph.md
  context/openapi.json
  context/symbol-index.json
  context/unused.json
  docs/adr/0002-tax-report-accounts-key-scoping.md
  docs/adr/0010-append-only-tax-report-revisions.md
  docs/adr/0011-user-account-soft-delete.md
  docs/ato-capital-gains-methodology.md
  docs/deployment.md
  docs/glossary.md
  knip.json
  package.json
  prisma/migrations/20260926000000_tax_report_revisions/migration.sql
  prisma/migrations/20260926000001_user_soft_delete/migration.sql
  prisma/schema.prisma
  src/controllers/accounts.test.ts
  src/controllers/accounts.ts
  src/controllers/auth.test.ts
  src/controllers/auth.ts
  src/controllers/tax-reports.test.ts
  src/controllers/tax-reports.ts
  src/controllers/users.test.ts
  src/controllers/users.ts
  src/lib/account-deletion.test.ts
  src/lib/account-deletion.ts
  src/lib/cgt-engine.test.ts
  src/lib/cgt-engine.ts
  src/middleware/auth.test.ts
  src/middleware/auth.ts
  src/scripts/purge-deleted-users.ts
Due: eslint --fix, prettier --write
