Repository bruno-frascino/piggy-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,css}": ["prettier --write"],
  "*.json": ["prettier --write"]
}

fix:Adjusting ESLint config
  eslint.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat:Initial Prisma schema definition and related APIs
  README.md
  prisma/schema.prisma
  src/index.ts
  src/lib/prisma.ts
  src/lib/trpc.ts
  src/routers/exchange.ts
  src/routers/index.ts
  src/routers/position.ts
  src/routers/stock.ts
  src/routers/transaction.ts
  src/routers/user.ts
  src/routers/watchlist.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

fix: Removing tRPC and dependencies
  package.json
  src/lib/trpc.ts
  src/routers/exchange.ts
  src/routers/index.ts
  src/routers/position.ts
  src/routers/stock.ts
  src/routers/transaction.ts
  src/routers/user.ts
  src/routers/watchlist.ts
  src/types/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: Add Express.js and basic settings
  src/controllers/exchanges.ts
  src/controllers/index.ts
  src/controllers/users.ts
  src/index.ts
  src/lib/swagger.ts
  src/middleware/validation.ts
Due: eslint --fix, prettier --write

chore: Upgrade libraries
  package.json
  prisma.config.ts
  prisma/schema.prisma
  src/index.ts
  src/lib/prisma.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

New model
  .env.example
  README.md
  eslint.config.js
  package.json
  prisma.config.ts
  prisma/migrations/20260517140750_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  prisma/seed-exchanges.ts
  src/controllers/auth.ts
  src/controllers/exchanges.ts
  src/controllers/index.ts
  src/controllers/portfolio.ts
  src/controllers/positions.ts
  src/controllers/stocks.ts
  src/controllers/users.ts
  src/controllers/watchlist.ts
  src/index.ts
  src/lib/exchange-sync.ts
  src/lib/jwt.ts
  src/middleware/auth.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: authentication adjustments
  prisma/migrations/20260518134623_add_password_reset_tokens/migration.sql
  prisma/schema.prisma
  src/controllers/auth.ts
Due: eslint --fix, prettier --write

app name change
  .github/copilot-instructions.md
  prisma/schema.prisma
  src/index.ts
  src/lib/swagger.ts
Due: eslint --fix, prettier --write

swagger update
  src/controllers/auth.ts
  src/controllers/portfolio.ts
  src/controllers/positions.ts
  src/controllers/users.ts
  src/controllers/watchlist.ts
  src/lib/swagger.ts
Due: eslint --fix, prettier --write

add documentation to instructions
  .github/copilot-instructions.md
Due: prettier --write

feat: add currency to the exchange model
  prisma/migrations/20260522000000_add_exchange_currency/migration.sql
  prisma/schema.prisma
  src/controllers/exchanges.ts
  src/controllers/positions.ts
  src/controllers/stocks.ts
  src/lib/exchange-sync.ts
Due: eslint --fix, prettier --write

New stock fetch library, field adjustments
  package-lock.json
  package.json
  src/controllers/positions.ts
  src/controllers/stocks.ts
  yarn.lock
Due: eslint --fix, prettier --write

added workspce
  .gitignore
Due: none

Add account concept
  prisma/migrations/20260524090000_add_trading_accounts/migration.sql
  prisma/schema.prisma
  src/controllers/accounts.ts
  src/controllers/index.ts
  src/controllers/positions.ts
  src/lib/swagger.ts
Due: eslint --fix, prettier --write

Positions adjustments
  .github/copilot-instructions.md
  prisma/migrations/20260524090000_add_trading_accounts/migration.sql
  prisma/migrations/20260525150000_allow_fractional_quantities/migration.sql
  prisma/schema.prisma
  src/controllers/accounts.ts
  src/controllers/portfolio.ts
  src/controllers/positions.ts
Due: eslint --fix, prettier --write

unit tests
  .github/copilot-instructions.md
  src/lib/jwt.test.ts
  src/middleware/auth.test.ts
  src/middleware/validation.test.ts
Due: eslint --fix, prettier --write

removing unused services
  .github/copilot-instructions.md
  src/controllers/exchanges.ts
  src/controllers/index.ts
  src/controllers/portfolio.ts
  src/controllers/positions.ts
  src/controllers/watchlist.ts
  src/index.ts
  src/lib/swagger.ts
Due: eslint --fix, prettier --write

instructions adjustments
  .github/copilot-instructions.md
Due: prettier --write

add performance calculation
  src/controllers/portfolio.ts
  src/lib/portfolio-calc.test.ts
  src/lib/portfolio-calc.ts
Due: eslint --fix, prettier --write

remove unused db schema
  README.md
  prisma/migrations/20260517140750_init/migration.sql
  prisma/migrations/20260518134623_add_password_reset_tokens/migration.sql
  prisma/migrations/20260522000000_add_exchange_currency/migration.sql
  prisma/migrations/20260524090000_add_trading_accounts/migration.sql
  prisma/migrations/20260525150000_allow_fractional_quantities/migration.sql
  prisma/schema.prisma
  src/controllers/auth.test.ts
Due: eslint --fix, prettier --write

tests and coverage
  package.json
  src/controllers/accounts.test.ts
  src/controllers/auth.test.ts
  src/controllers/portfolio.test.ts
  src/controllers/stocks.test.ts
  src/controllers/users.test.ts
  vitest.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

historical drawdown and account delete
  prisma/migrations/20260517140750_init/migration.sql
  prisma/migrations/20260604133246_add_max_drawdown_percent/migration.sql
  prisma/schema.prisma
  src/controllers/accounts.test.ts
  src/controllers/accounts.ts
  src/controllers/max-drawdown.test.ts
  src/controllers/positions.ts
  src/lib/historical-drawdown.test.ts
  src/lib/historical-drawdown.ts
  src/middleware/auth.ts
  src/middleware/validation.ts
Due: eslint --fix, prettier --write

feat:Adding tests validation and auth
  src/middleware/auth.test.ts
  src/middleware/validation.test.ts
Due: eslint --fix, prettier --write

feat:Deployment workflow
  .github/workflows/deploy.yml
Due: none

fix:Yarn only - deployment adjustments
  .github/workflows/deploy.yml
  .gitignore
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

fix:build adjustments for automation
  .gitignore
  package.json
  tsconfig.build.json
Due: prettier --write

build adjustments - prisma and node version
  .github/workflows/deploy.yml
  .nvmrc
Due: none

feat:readme update
  README.md
Due: prettier --write

fix: Email user
  src/controllers/auth.test.ts
  src/controllers/auth.ts
Due: eslint --fix, prettier --write

db: Optional open comment field
  prisma/migrations/20260722173150_make_open_reason_optional/migration.sql
  prisma/schema.prisma
  src/controllers/positions.ts
Due: eslint --fix, prettier --write

feat: cg report
  .github/copilot-instructions.md
  docs/ato-capital-gains-methodology.md
  package.json
  prisma/migrations/20260724114014_add_tax_reports/migration.sql
  prisma/schema.prisma
  src/controllers/index.ts
  src/controllers/tax-reports.test.ts
  src/controllers/tax-reports.ts
  src/lib/app-icon.ts
  src/lib/cgt-engine.test.ts
  src/lib/cgt-engine.ts
  src/lib/fx-rates.test.ts
  src/lib/fx-rates.ts
  src/lib/pdf-report.test.ts
  src/lib/pdf-report.ts
  src/lib/swagger.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: one go - code enhancements
  coverage/base.css
  coverage/block-navigation.js
  coverage/controllers/accounts.ts.html
  coverage/controllers/auth.ts.html
  coverage/controllers/index.html
  coverage/controllers/portfolio.ts.html
  coverage/controllers/positions.ts.html
  coverage/controllers/stocks.ts.html
  coverage/controllers/tax-reports.ts.html
  coverage/controllers/users.ts.html
  coverage/favicon.png
  coverage/index.html
  coverage/lib/app-icon.ts.html
  coverage/lib/cgt-engine.ts.html
  coverage/lib/fx-rates.ts.html
  coverage/lib/historical-drawdown.ts.html
  coverage/lib/index.html
  coverage/lib/jwt.ts.html
  coverage/lib/pdf-report.ts.html
  coverage/lib/portfolio-calc.ts.html
  coverage/lib/position-service.ts.html
  coverage/middleware/auth.ts.html
  coverage/middleware/index.html
  coverage/middleware/validation.ts.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  src/controllers/positions.test.ts
  src/controllers/positions.ts
  src/lib/position-service.test.ts
  src/lib/position-service.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

feat: AI specs
  .github/copilot-instructions.md
  .github/instructions/controllers.instructions.md
  .github/instructions/prisma.instructions.md
  .github/instructions/tax.instructions.md
  .github/instructions/testing.instructions.md
  .github/skills/add-api-endpoint-e2e/SKILL.md
  AGENTS.md
  docs/adr/0001-one-buy-per-position.md
  docs/adr/0002-tax-report-accounts-key-scoping.md
  docs/adr/0003-rba-first-fx-with-yahoo-fallback.md
  docs/adr/0004-pdfkit-not-puppeteer.md
  docs/adr/0006-yarn-only.md
  docs/deployment.md
  docs/glossary.md
Due: prettier --write

chore: add self-maintaining context tooling
  .github/instructions/context-maintenance.instructions.md
  .github/workflows/ci.yml
  .husky/pre-push
  .prettierignore
  AGENTS.md
  context/README.md
  context/api-surface.md
  context/data-model.md
  context/manifest.json
  context/module-graph.json
  context/module-graph.md
  context/openapi.json
  context/symbol-index.json
  context/unused.json
  docs/context-maintenance-follow-ups.md
  eslint.config.js
  knip.json
  package.json
  scripts/context/api-surface.ts
  scripts/context/build.ts
  scripts/context/check.ts
  scripts/context/data-model.ts
  scripts/context/emit-openapi.ts
  scripts/context/lib/manifest.ts
  scripts/context/module-graph.ts
  scripts/context/symbol-index.ts
  scripts/context/unused.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: specifications
  AGENTS.md
  context/manifest.json
  context/unused.json
  docs/specification-system-manual.md
  docs/specification-system-manual.pdf
  package.json
  scripts/docs/generate-specification-manual.ts
Due: eslint --fix, prettier --write

chore: update ci check
  .github/workflows/ci.yml
  docs/context-maintenance-follow-ups.md
  docs/specification-system-manual.md
  docs/specification-system-manual.pdf
Due: prettier --write

fix: make context graph platform independent
  context/manifest.json
  context/module-graph.json
  scripts/context/module-graph.test.ts
  scripts/context/module-graph.ts
Due: eslint --fix, prettier --write

update specification manual architecture status
  docs/specification-system-manual.md
  docs/specification-system-manual.pdf
Due: prettier --write

update API architecture status
  docs/specification-system-manual.md
  docs/specification-system-manual.pdf
Due: prettier --write

document contract freshness checks
  docs/specification-system-manual.md
  docs/specification-system-manual.pdf
Due: prettier --write
